settings:
  title: 'Status Page'
  url: 'https://status.hariyonorizki.eu.org' # used for Slack messages
  logo: logo-192x192.png # image in ./public/ folder
  daysInHistogram: 90 # number of days you want to display in histogram
  collectResponseTimes: true # collects avg response times from CRON locations

  allmonitorsOperational: 'All Systems Operational'
  notAllmonitorsOperational: 'Not All Systems Operational'
  monitorLabelOperational: 'Operational'
  monitorLabelNotOperational: 'Not Operational'
  monitorLabelNoData: 'No data'
  dayInHistogramNoData: 'No data'
  dayInHistogramOperational: 'All good'
  dayInHistogramNotOperational: ' incident(s)' # xx incident(s) recorded

monitors:
  - id: homepage
    name: Landing Pages [hariyonorizki.eu.org]
    url: 'https://hariyonorizki.eu.org'
    method: GET
    expectStatus: 200
    followRedirect: false
    linkable: true

  - id: baseserver
    name: Server Status Runtime [status.hariyonorizki.eu.org]
    url: 'https://status.hariyonorizki.eu.org'
    method: GET
    expectStatus: 200
    followRedirect: false
    linkable: true

#server list
  - id: serverlist
    name: KIKI Server Hosting Status
    url: 'https://pages.dev'
    method: GET
    expectStatus: 200
    followRedirect: false
    linkable: false

  - id: server1
    name: Web Hosting 1 [hariyonorizki.eu.org]
    url: 'https://pages.dev'
    method: GET
    expectStatus: 200
    followRedirect: false
    linkable: true

  - id: server2
    name: Web Hosting 2 [hariyonorizki.skom.id]
    url: 'https://hariyonorizki.skom.id'
    method: GET
    expectStatus: 200
    followRedirect: true
    linkable: true
    
#project server group
  - id: projectmain
    name: KIKI Web Projet Status
    url: 'https://harahasanwedding.pages.dev'
    method: GET
    expectStatus: 200
    followRedirect: false
    linkable: false

  - id: project1
    name: Undangan Wedding Hardiyanti & Hasan
    description: 'Projek Undangan Pernikahan Digital untuk mempelai Hardiyanti & Hasan'
    url: 'https://harahasanwedding.pages.dev'
    method: GET
    expectStatus: 200
    followRedirect: true
    linkable: true
